@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fff;
  --background: #000;
}

* {
  cursor: none !important;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body,
html,
div,
section,
main {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-montserrat);
}

.buttonCorners::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: linear-gradient(to right, black 1.75px, transparent 1.75px) 0 0,
    linear-gradient(to right, black 1.75px, transparent 1.75px) 0 100%,
    linear-gradient(to left, black 1.75px, transparent 1.75px) 100% 0,
    linear-gradient(to left, black 1.75px, transparent 1.75px) 100% 100%,
    linear-gradient(to bottom, black 1.75px, transparent 1.75px) 0 0,
    linear-gradient(to bottom, black 1.75px, transparent 1.75px) 100% 0,
    linear-gradient(to top, black 1.75px, transparent 1.75px) 0 100%,
    linear-gradient(to top, black 1.75px, transparent 1.75px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 8px 8px;
  transition: all 0.25s ease;
}
.buttonCorners:hover:before {
  background-size: 11px 11px;
}

.bgDot {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0) 1.5px,
    rgba(0, 0, 0, 0.5) 1.5px
  );
  background-size: 6px 6px;
  backdrop-filter: blur(30px) saturate(0.2) brightness(0.75);
}
